/node_modules/
/build/
/dist/
/out/
/.next/
/.nuxt/
/.parcel-cache/
/coverage/
.env
.env.*.local
*.db
*.db-journal
*.sqlite
/server/database.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
.cache/
.nyc_output/
.sass-cache/
.turbo/
*.tsbuildinfo
storybook-static/
.pids
*.pid
*.seed
*.pid.lock
/.pnp/
.pnp.js
.eslintcache
